:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-yellow: #FFEE2E;
	--color-orange: #F9804B;
	--color-deep-orange: #E47209;
	--color-black-blue: #333B41;
	--color-input-grey: #BDBDBD;
	--color-light-grey: #F1F3F2;
	--color-pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--color-black: #000000;
	--color-orange_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--color-green:  #4B9200;
	--color-gray: #767474;
}

html {
	/* scroll-behavior: smooth; */
}

.social-links, .main-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
	color: var(--color-white);
	list-style: none;
 	margin: 0;
 	padding: 0;
 	cursor: pointer;
 	text-decoration: none;
}
a:hover {
  color: var(--color-orange);
  cursor: pointer;
  transform: scale(1.3);
}
a:active {
  color: var(--color-orange);
  transform: scale(1.3);
}

li {
	list-style-type: none;
	cursor: pointer;
}

body {
	font-family: 'Roboto';
	font-style: normal;
	overflow-x: hidden;
	position: relative;
	margin: 0 auto;
}

button {
background:  linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
width: 18.625rem;
height: 3.375rem;
border:none;
}

button:hover {
background: var(--color-deep-orange);
}

button:active {
	background: var(--color-green);
}

button:disabled {
	background: var(--color-gray);
}

#button-text {
	color: var(--color-white);
}

.logo__text {
	color: var(--color-white);
	font-weight: 400;
	font-size: 1.1875rem;
	line-height: 120%;
	box-sizing: border-box;

	position: absolute;
	width: 5.3rem;
	height: 3.3rem;
	left: 13.75rem;
	top: 1.1rem;
	text-align: center;

	border: 0.0625rem solid var(--color-white);
	border-radius: 0.125rem;
}

@media screen and (max-width: 640px) {
	#logo__text-header {
		border: none;
		font-weight: 400;
		font-size: 12.2899px;
		line-height: 120%;
	}
}


.logo__image-header {
	position: absolute;
	top: 3.2rem;
	left: 14.45rem;
}


@media screen and (max-width: 640px) {
	.logo__image-header  {
		display: none;
	}
}

.page-header__logo {
	position: relative;
	top: -3.2rem;
	text-align: center;

}

@media screen and (max-width: 1000px) {
	.page-header__logo 	{
		top: -1rem;
		left: -19%;
	}
}

@media screen and (max-width: 640px) {
	.page-header__logo  {
		left: -34%;
		top: -1.7rem;
	}
}

@media screen and (max-width: 320px) {
	.page-header__logo {
		left: -71%;
		top: -1.7rem;
	}
}

.header__page {
	position: relative;
	margin: -1rem auto;
	width: 100rem;
	height: 5.1rem;
	background:  var(--color-black);
	backdrop-filter: blur(2px);
}

@media screen and (max-width: 1000px) {
	.header__page {
		width: 1000px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px) {
	.header__page {
		width: 640px;
		height: 34px;
		margin: 0 auto;
	}
}


@media screen and (max-width: 320px) {
	.header__page {
		width: 320px;
		margin: 0 auto;
	}
}

.header__block {
	width: 100rem;
	height: 24.375rem;
	background-position: center;
	background-size: auto 100%;
	margin-top: 18rem;
  position: relative;
	margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

}


.panda__header {
	width: 1600px;
	position: relative;
	display: flex;
	justify-content: center;
	margin: -1rem auto;
	z-index: -2;
	top: 0.6rem;
}

.panda__header-1000 {
	display: none;
}

@media screen and (max-width: 1000px) {
	.panda__header {
		display: none;
	}	
}

@media screen and (max-width: 1000px) {
	.panda__header-1000 {
		display: block;
	}	
}

.panda__header-640 {
	display: none;
}

@media screen and (max-width: 640px) {
	.panda__header {
		display: none;
	}	
}

@media screen and (max-width: 640px) {
	.panda__header-1000 {
		display: none;
	}	
}

@media screen and (max-width: 640px) {
	.panda__header-640 {
		display: block;
	}	
}

.panda__header-320 {
	display: none;
}

@media screen and (max-width: 320px) {
	.panda__header-640 {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.panda__header-320 {
		display: block;
	}
}

.burger {
	display: none;
	width: 18px;
	height: 10px;
	background: url("assets/img/burger_menu.png");
 }

 @media screen and (max-width: 640px) {
	.burger {
		position: relative;
		display: block;
		z-index: 3;
		top: 0.78rem;
		left: 94.1%;
		border-radius: 0;
	 }
 }

 @media screen and (max-width: 320px) {
	.burger {
		position: relative;
		display: block;
		z-index: 3;
		top: 0.8rem;
		left: 91%;
		border-radius: 0;
	 }
 }

.main-navigation {
	width: 37rem;
	margin-top: 2.8rem;
	margin-left: 19rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
}


@media screen and (max-width: 1000px) {
	.main-navigation	{
		position: relative;
		margin-left: 18.3rem;
		
	}
}

@media screen and (max-width: 1000px) {
	.main-navigation	li {
		margin-left: -4rem;
		margin-top: -0.5rem;
	}
}


#main-navigation__hidden {
	position: relative;
	top: -0.54rem;
	left: 0.15rem;

	margin-left: 79.5rem;
	margin-top: -0.8rem;
}

@media screen and (max-width: 1000px) {
	#main-navigation__hidden	{
		left: -29.5%;
		width: 110px;
	}
}

@media screen and (max-width: 640px) {
	#main-navigation__hidden{}
}

@media screen and (max-width: 320px) {
	#main-navigation__hidden {}
}

.navigation__about {
	color: #E47209;
}

.page-header__navigation {
	position: relative;
	top: -1rem;
}

@media screen and (max-width: 1000px) {
	#header-main-navigation	{
		gap: 112px;
		top: -0.15rem;
		left: -12.2%;
	}
}

.pick-and-feed{
	position: relative;
	width: 1600px;
	height: 1482px;
	top: 1.5rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
	linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
	linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	padding: 0 0 ;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed	{
		width: 1000px;
		top: -0.3rem;
		height: 1330px;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed {
		width: 640px;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed {
		width: 320px;
	}
}

.pick-and-feed__bg-block{
	display: flex;
	width: 100%;
	background-size: 100%;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pick-and-feed__title{
	position: relative;
	text-align: center;
	width: 74%;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	color: white;
	margin: 40px 0 10px 0;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed__title {
		text-align: left;
		width: 75%;
		font-weight: 400;
		font-size: 36px;
		line-height: 130%;
		left: -9.5%;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed__title {
		width: 600px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
		left: 0.1%;	
		top: -0.5rem;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed__title {}
}

.pick-and-feed__info{
	width: 72%;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: white;
	margin: 0 0 45px 0;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed__info	{
		position: relative;
		width: 93%;
		top: 1.5%;
		left: -0.1rem;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed__info{
		top: -0.01rem;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed__info {}
}

.pick-and-feed__donation-info {
	position: relative;
	left: -25.5%;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	color: #FE9013;
	margin: 0 0 60px 0;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed__donation-info	{
		top: 1.2rem;
		left:-30%;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed__donation-info {
		font-weight: 400;
		font-size: 36px;
		line-height: 130%;
		top: -0.8rem;
		left:-20.2%;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed__donation-info {}
}

.pick-and-feed__block{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0.1rem;
	width: 1160px;
	height: 964px;
	background: rgba(255, 255, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 20px;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed__block	{
		top: -0.2%;
		width: 940px;
		height: 918px;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed__block {
		top: -3.5%;
		width: 600px;
		height: 918px;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed__block {
		width: 300px;
		height: 591px;
	}
}

.pick-and-feed__block-title {
	position: relative;
	top: -3.2rem;
	left: -0.5rem;
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	color: #FE9013;
	margin: 0 0 20px 0;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed__block-title {
		top: -2.8rem;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed__block-title {
		top: -1.3rem;
		left: -0.1rem;
		font-weight: 400;
		font-size: 48px;
		line-height: 120%;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed__block-title {}
}

.pick-and-feed__block-text {
	position: relative;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #333B41;
	position: relative;
	left: 6rem;
	top: -2.9rem;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed__block-text	{
		left: 3rem;
		top: -3.3rem;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed__block-text {
		top: -1.3rem;
		left: -0.5%;
		text-align: center;
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed__block-text {}
}

.pick-and-feed__block-diet{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 50px 0;
}

.pick-and-feed__diet {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 43px 30px 0 0;
	max-height: 85px;
}

@media screen and (max-width: 640px) {
	.pick-and-feed__block-diet {
		position: relative;
		top: 2.1%;
	}
}

.diet-count-img{
	margin: 0 0 11px 0;
	width: 88px;
}

.number__pick {
	font-size: 72px;
	position: relative;
	left: -8.6rem;
	top: 1.5rem;
}

@media screen and (max-width: 1000px) {
	.number__pick {
		top: 1.2rem;
	}
}

@media screen and (max-width: 640px) {
	.number__pick{}
}

@media screen and (max-width: 320px) {
	.number__pick {}
}

.number__pick-x {
	font-size: 24px;
	position: relative;
	left: -4.2rem;
	top: 1.5rem;
}

.diet-panda {
position: relative;
top: 1rem;
}

@media screen and (max-width: 1000px) {
	.diet-panda {
		top: 0.5rem;
		left: -0.5rem;
	}
}

@media screen and (max-width: 640px) {
	.diet-panda  {}
}

@media screen and (max-width: 320px) {
	.diet-panda  {}
}

.diet-text{
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #333B41;
	position: relative;
	top: 3rem;
	left: -0.5rem;
}

.pick-and-feed__amount-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 0.8rem;
}

@media screen and (max-width: 1000px) {
	.pick-and-feed__amount-block {
		top: 0.3rem;
	}
}

@media screen and (max-width: 640px) {
	.pick-and-feed__amount-block {
		top: 0.75rem;
	}
}

@media screen and (max-width: 320px) {
	.pick-and-feed__amount-block {}
}

.amount-block__text {
	position: relative;
	left: -39.2%;
	font-weight: 400;
	line-height: 140%;
	color: #000000;
	margin: 0 0 15px 0;
}

@media screen and (max-width: 1000px) {
	.amount-block__text {
		left: -40%;
	}
}

@media screen and (max-width: 640px) {
	.amount-block__text {
		left: -43.5%;
		top: 0.5rem;
	}
}

@media screen and (max-width: 320px) {
	.amount-block__text {}
}

.amount__progress-block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 27px;
	width: 976px;
	background: #404950;
	border-radius: 2px;
	margin: 0 0 12px 0;
}

@media screen and (max-width: 1000px) {
	.amount__progress-block	{
		width: 810px;
		height: 27px;
	}
}

@media screen and (max-width: 640px) {
	.amount__progress-block {
		width: 600px;
		height: 27px;
	}
}

@media screen and (max-width: 320px) {
	.amount__progress-block {}
}

.amount__progress {
	position: relative;
	-webkit-appearance: none;
	width: 922px;
	height: 2px;
	background: #72828E;
	-webkit-transition: .2s;
	transition: opacity .2s;
}



.amount__progress:hover {
	opacity: 1;
}

.amount__progress::-webkit-slider-thumb {
	position: relative;
	left: -0.45rem;
	z-index: 1;
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	background: url("assets/svg/roller_icon.svg");
	cursor: pointer;
	border-radius: 50%;
	transition: 0.3s;
}

@media screen and (max-width: 1000px) {
	.amount__progress::-webkit-slider-thumb {
		position: relative;
		left: -5.95rem;
		z-index: 1;
		-webkit-appearance: none;
		appearance: none;
		width: 40px;
		height: 40px;
		background: url("assets/svg/roller_icon.svg");
		cursor: pointer;
		border-radius: 50%;
		transition: 0.3s;
	}
}

@media screen and (max-width: 640px) {
	.amount__progress::-webkit-slider-thumb {
		position: relative;
		left: 7.45rem;
		z-index: 1;
		-webkit-appearance: none;
		appearance: none;
		width: 40px;
		height: 40px;
		background: url("assets/svg/roller_icon.svg");
		cursor: pointer;
		border-radius: 50%;
		transition: 0.3s;
	}
}


.amount__progress::-webkit-slider-thumb:hover{
	box-shadow: 0 0 10px lightcoral;
}

.amount__progress::-webkit-slider-runnable-track{

}

.amount-block__prices{
	position: relative;
	display: flex;
	font-weight: 500;
	font-size: 26px;
	line-height: 140%;
	text-transform: uppercase;
	gap: 55px;
	left: -0.75rem;
	top: -0.5rem;
	letter-spacing: -0.1px;

}

@media screen and (max-width: 1000px) {
	.price-block-1	{
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.price-block-2 {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.price-block-3 {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.price-block-6 {
		color: var(--color-deep-orange);
	}
}

.amount-block__circles {
	left: -1.35rem;
	top: -1.8rem;
	display: flex;
	position: relative;
	gap: 120px;
	margin: 0 0 0 42px;
}

@media screen and (max-width: 1000px) {
	.amount-block__circles	{
		gap: 121px;
	}
}

@media screen and (max-width: 640px) {
	.amount-block__circles {}
}

@media screen and (max-width: 320px) {
	.amount-block__circles {}
}

.amount-block__circle {
	background: #FFEE2E;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

@media screen and (max-width: 1000px) {
	.amount-block__circle	{
		width: 9px;
		height: 9px;
	}
}

@media screen and (max-width: 640px) {
	.amount-block__circle {}
}

@media screen and (max-width: 320px) {
	.amount-block__circle {}
}

@media screen and (max-width: 1000px) {
	.circle-1	{
display: none;
	}
}

@media screen and (max-width: 640px) {
	.circle-2	{
display: none;
	}
}

@media screen and (max-width: 640px) {
	.circle-3	{
display: none;
	}
}

.amount-block__prices {
	display: flex;
	margin: 0 0 50px 0;
}

@media screen and (max-width: 1000px) {
	.amount-block__prices {
		position: relative;
		left: 0.4rem;
	}
}

@media screen and (max-width: 640px) {
	.amount-block__prices  {
		left: -0.1rem;
		gap: 55.5px;
	}
}

@media screen and (max-width: 320px) {
	.amount-block__prices {}
}

.prices__price-block:first-child{
	margin: 0 7px 0 0;
}

.prices__price-block:nth-child(2){
	margin: 0 3px 0 0;
}

.prices__price-block:nth-child(4){
	margin: 0 15px 0 0;
}

.prices__price-block:nth-child(5){
	margin: 0 10px 0 0;
}

.prices__price-block:nth-child(6){
	margin: 0 15px 0 0;
}

.prices__price-block:nth-child(7){
	margin: 0 38px 0 0;
}

.amount-block__form {
	position: relative;
	display: flex;
	top: -0.7rem;
	width: 267px;
	height: 53px;
}

@media screen and (max-width: 640px) {
	.amount-block__form {
		left: 6.5%;
	}
}

.amount-block__label{
	width: 268px;
	height: 54px;
}

.amount-block__input{
	width: 268px;
	height: 54px;
	border: 1px solid #929699;
	border-radius: 2px;
	color: #929699;
	font-weight: 400;
	line-height: 140%;
	background: url("assets/svg/dollar.svg") no-repeat;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right 9px top 17px;
	background-size: 10px, 20px;
}


@media screen and (max-width: 640px) {
	.amount-block__input {
		width: 180px;
		height: 42px;
	}
}

.amount-block__input::-webkit-outer-spin-button,
.amount-block__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.amount-block__choose {
	display: flex;
	position: relative;
	top: 1rem;
	margin: 3px 0 31px -10px;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 640px) {
	.amount-block__choose {
		top: 0.5rem;
	}
}

.amount-block__choose input{
	width: 12px;
	height: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50%;
	outline: 1px solid #FE9013;
	outline-offset: 2px;
	border-color: transparent;
	cursor: pointer;
	margin: 0 10px 0 0;
}

.amount-block__choose input:checked {
	background: var(--color-green);
	outline: 1px solid var(--color-green);
}

.monthly-choose{
	margin: 0 50px 0 0;
}

.pick__button-block {
	position: relative;
	left: 5.7rem;
	top: 1.8rem;
}

@media screen and (max-width: 1000px) {
	.pick__button-block	{
		left: -2%;
		top: 1.3rem;
	}
}

@media screen and (max-width: 640px) {
	.pick__button-block {
		left: -31.7%;
		top: 1.3rem;
	}
}

@media screen and (max-width: 320px) {
	.pick__button-block {}
}

.pick-and-feed__button{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	margin: 0 0 30px 342px;
	cursor: pointer;
}

.pick-and-feed__share {
	font-weight: 400;
	line-height: 140%;
	color: #333B41;
	margin: 0 0 0 342px;
}

@media screen and (max-width: 640px) {
	.pick-and-feed__share {
		width: 301px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
	}
}


@media screen and (max-width: 1000px) {
	footer {
		top: -2%;
		width: 1000px;
		height: 443px;
	}
}

@media screen and (max-width: 640px) {
	footer {
		top: 0.5rem; 
		width: 640px;
		height: 282px;
	}
}

@media screen and (max-width: 320px) {
	footer {
		width: 320px;
	}
}


.footer__block {
	position: relative;
	display: flex;
	top: 2.5rem;
	margin: -1rem auto;
	display: flex;
	height: 27.6875rem;
	width: 100rem;
	background-color: var(--color-black);
}

@media screen and (max-width: 1000px) {
	.footer__block {
		top: 2.6%;
		width: 1000px;
	}
}

@media screen and (max-width: 640px) {
	.footer__block {
		top: 0.8rem;
		width: 640px;
		height: 282px;
	}
}

@media screen and (max-width: 320px) {
	.footer__block {
		width: 320px;
	}
}


.page-footer__logo {
	position: absolute;
	top: 0.8rem;
}

@media screen and (max-width: 1000px) {
	.page-footer__logo{
		left: -18.9%;
	}
}

@media screen and (max-width: 640px) {
	.page-footer__logo {
		left: -31.2%;
		top: -1.1rem;
	}
}

@media screen and (max-width: 320px) {
	.page-footer__logo {}
}


.logo__image-footer {
	position: absolute;
	top: 3.2rem;
	left: 14.45rem;
}

.footer__navigation {
	position: absolute;
	top: 21rem;
	left: 12.5rem;
}

@media screen and (max-width: 1000px) {
	.footer__navigation {
		left: 3%;
	}
}

@media screen and (max-width: 640px) {
	.footer__navigation {}
}

@media screen and (max-width: 320px) {
	.footer__navigation {}
}

.main-navigation {
	position: relative;
	display: flex;
}

@media screen and (max-width: 1000px) {
	.main-navigation	{
		display: flex;
		top: -2rem;
		left: -12.8%;
		margin-top: 55px;
		justify-content: center;
		flex-wrap: nowrap;
		align-items: center;
		gap: 168px;
  }
	}

@media screen and (max-width: 640px) {
	.main-navigation {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.main-navigation {
		display: none;
	}
}

/* @media screen and (max-width: 1000px) {
	#footer__contact	{
		position: relative;
		margin-left: 12rem;
  }
	} */

.footer__navigation-link {
	margin: -3.5rem;
}




.title__planner {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 1.1rem;
	left: 63.4rem;
}

@media screen and (max-width: 1000px) {
	.title__planner {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 1.1rem;
		left: 57%;
	}
}

@media screen and (max-width: 640px) {
	.title__planner {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.title__planner {}
}

.task__planner {
	position: relative;
	margin-top: -0.8rem;
	left: -0.1rem;
}

#task-planner__button {
	position: absolute;
	left: 14.56rem;

	width: 8.0625rem;
	height: 2.625rem;
	margin-left: 0.3rem;
	border-radius: 3px;
	border-style: solid;
	color: var(--color-green);
	background: var(--color-white);
}

.task-planner__input {
	width: 13.9rem;
	height: 2.300rem;
	background: rgba( 0,0,0,.1);
	border-color: var(--color-orange);

	font-family: 'Roboto';
	font-style: normal;
	color: var(--color-input-grey);
}

.title__planner-text {
	color: var(--color-white);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 120%;

}

.social-links {
	position: absolute;
	display: flex;
	top: 15.5rem;
	left: 11.4rem;
	line-height: 1.8;
}

@media screen and (max-width: 1000px) {
	.social-links {
		left: -1%;
	}
}

@media screen and (max-width: 640px) {
	.social-links {
		left: 87%;
		top: -1.9%;
	}
}

@media screen and (max-width: 320px) {
	.social-links {}
}



.social-links__list {
	position: relative;
	display: flex;
	flex-direction: column;
}


@media screen and (max-width: 640px) {
	.social-links__list a {
		width: 100px;
		height: 100px;
		color: var(--color-black);
		padding: 20px;
	}	
}

@media screen and (max-width: 640px) {
	.social-links__list {
		gap: 11px;
	}	
}


#link-facebook {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/facebook-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#link-facebook:hover {
	background: url('assets/icon/facebook-link-active.svg') no-repeat;
}

#link-facebook:active {
	background: url('assets/icon/facebook-link-active.svg') no-repeat;
}

.facebook-logo {
	position: relative;
	left: -6rem;
}

.facebook-logo:hover {
	color: var(--color-green);
}

.facebook-logo:active {
	color: var(--color-green);
}

#twitter-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/twitter-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#twitter-link:hover {
	background: url('assets/icon/twitter-link-active.svg') no-repeat;
}

#twitter-link:active {
	background: url('assets/icon/twitter-link-active.svg') no-repeat;
}

.twitter-logo {
	position: relative;
	left: -7.3rem;
}

.twitter-logo:hover {
	color: var(--color-green);
}

.twitter-logo:active {
	color: var(--color-green);
}

#instagram-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/instagram-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	left: -0.3rem;
	color: var(--color-white);
}

#instagram-link:hover {
	background: url('assets/icon/instagram-link-active.svg') no-repeat;
	left: 0.01rem;
}

#instagram-link:active {
	background: url('assets/icon/instagram-link-active.svg') no-repeat;
}

.instagram-logo {
	position: relative;
	left: -5.5rem;
}

.instagram-logo:hover {
	color: var(--color-green);
}

.instagram-logo:active {
	color: var(--color-green);
}

#youTube-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/youTube-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#youTube-link:hover {
	background: url('assets/icon/youTube-link-active.svg') no-repeat;
}

#youTube-link:active {
	background: url('assets/icon/youTube-link-active.svg') no-repeat;
}


.youTube-logo {
	position: relative;
	left: -6.5rem;
}

.youTube-logo:hover {
	color: var(--color-green);
}

.youTube-logo:active {
	color: var(--color-green);
}

.footer__button {
	position: absolute;
	color: var(--color-white);
	width: 18.625rem;
	height: 3.4375rem;
	border-radius: 5px;

	top: 10rem;
	left: 13.8rem;	
}

@media screen and (max-width: 1000px) {
	.footer__button {
		left: 3%;
	}
}

@media screen and (max-width: 640px) {
	.footer__button {
		top: 6.15rem;
	}
}

@media screen and (max-width: 320px) {
	.footer__button {}
}

.footer__copyright {
	position: absolute;
	top: 20.5rem;
	left: 72rem;

	color: var(--color-white);

	font-weight: 100;
	font-family: 'Roboto';
	font-size: 1rem;
	line-height: 2;
}

@media screen and (max-width: 1000px) {
	.footer__copyright	{
		left: 74%;
		top: 75%;
		font-size: 16px;
		line-height: 130%;
	}
}

@media screen and (max-width: 640px) {
	.footer__copyright {
		width: 235px;
		left: 61.2%;
		top: 71%;
		line-height: 2;
	}
}

@media screen and (max-width: 320px) {
	.footer__copyright {}
}

.footer__copyright:hover {
	background-color: var(--color-white);
}

.footer__copyright:active {
	background-color: var(--color-white);
}

.disigned__by {
color: var(--color-white);
}

#copyright-link:hover {
color: var(--color-green);
}

#copyright-link:active {
color: var(--color-green);
}

.disigned__by:hover {
color: var(--color-green);
}

.disigned__by:active {
color: var(--color-green);
}
