:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-yellow: #FFEE2E;
	--color-orange: #F9804B;
	--color-deep-orange: #E47209;
	--color-black-blue: #333B41;
	--color-input-grey: #BDBDBD;
	--color-light-grey: #F1F3F2;
	--color-pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--color-black: #000000;
	--color-orange_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--color-green:  #4B9200;
	--color-gray: #767474;
}

html {
	scroll-behavior: smooth;
}

.social-links, .main-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
	color: var(--color-white);
	list-style: none;
 	margin: 0;
 	padding: 0;
 	cursor: pointer;
 	text-decoration: none;
}
a:hover {
  color: var(--color-orange);
  cursor: pointer;
  transform: scale(1.3);
}
a:active {
  color: var(--color-orange);
  transform: scale(1.3);
}

li {
	list-style-type: none;
	cursor: pointer;
}

body {
	font-family: 'Roboto';
	font-style: normal;
	overflow-x: hidden;
	  position: relative;
		margin: -1rem auto;
}

button {
background:  linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
width: 18.625rem;
height: 3.375rem;
border:none;
}

button:hover {
background: var(--color-deep-orange);
}

button:active {
	background: var(--color-green);
}

button:disabled {
	background: var(--color-gray);
}

#button-text {
	color: var(--color-white);
}

.logo__text {
	color: var(--color-white);
	font-weight: 400;
	font-size: 1.1875rem;
	line-height: 120%;
	box-sizing: border-box;

	position: absolute;
	width: 5.3rem;
	height: 3.3rem;
	left: 13.75rem;
	top: 1.1rem;
	text-align: center;

	border: 0.0625rem solid var(--color-white);
	border-radius: 0.125rem;
}


.logo__image-header {
	position: absolute;
	top: 3.2rem;
	left: 14.45rem;
}

.page-header__logo {
	position: relative;
	top: -3.2rem;
	text-align: center;

}

.header__page {
	position: relative;
	margin: -1rem auto;
/*	top: -0.8rem;*/
	width: 100rem;
	height: 5.1rem;
	background:  var(--color-black);
	backdrop-filter: blur(2px);
}

.header__block {
	width: 100rem;
	height: 24.375rem;
	background-position: center;
	background-size: auto 100%;
	margin-top: 18rem;
  position: relative;
	margin: -1rem auto;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

}

.panda__header {
	position: relative;
	display: flex;
	justify-content: center;
	margin: -1rem auto;
	z-index: -2;
	top: 0.5rem;
}

.main-navigation {
	width: 37rem;
	margin-top: 2.8rem;
	margin-left: 19rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
}

#main-navigation__hidden {
	position: relative;
	top: -0.54rem;
	left: 0.15rem;

	margin-left: 79.5rem;
	margin-top: -0.8rem;
}

.page-header__navigation {
	position: relative;
	top: -1rem;
}

.pick_and_fied_a_friend-block {
	position: relative;
	display: flex;
	justify-content: center;
	margin: -1rem auto;
	top: 1.3rem;
}

.information__pick {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 5rem;

	width: 72.5rem;
	height: 60.25rem;
	background: rgba(255, 255, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 20px;
}

.pick__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--color-orange_grad);
	width: 100rem;
	height: 92.625rem;
	top: 0.2rem;
}

.pick__wrapper-text-1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 130%;
	color: var(--color-white);
}

.pick__wrapper-text-2 {
	position: relative;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.3rem;
	color: var(--color-white);
	top: -2.3rem;
	letter-spacing: 0.007rem;
}

.pick__wrapper-text-3 {
	position: relative;
	top: -2.5rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 130%;
	color: var(--color-orange);
}

.pick__wrapper-title {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	top: 1rem;
	width: 72.5rem;
	height: 5.9rem;
	padding: 0px;
}

.pick__block {
	position: relative;
	display: flex;
	flex-direction: column;
	top: -8.5rem;
}

.pick__text-1 {
	position: relative;
	display: flex;
	justify-content: center;
	left: -0.3rem;


	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 120%;
	color: var(--color-orange);
}

.pick__text-2 {
	position: relative;
	top: -1.5rem;
	left: -4rem;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 120%;
	color: var(--color-black-blue);
}

.number__pick {
	position: relative;
	left: -8.4rem;
	top: 2.2rem;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 4.5rem;
	line-height: 80%;
	text-transform: uppercase;
	color: var(--color-black-blue);
}

.panda__pick-amound {
	position: relative;
	left: -25.3rem;
	top: 1.6rem;
}

.panda__pick-text {
	position: relative;
	top: -2.8rem;
	left: -12rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 140%;

	color: var(--color-black-blue);
}

.x__icon {
	position: absolute;
	top: 8rem;
	left: -1.7rem;
	width: 1rem;
	height: 1rem;
}

.pick__block-panda {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	top: 0.5rem;
}

.panda__pick {
	position: relative;
	display: flex;
	flex-direction: column;
}

.progress__block {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

}

.pick__img {
	position: relative;
	left: -14.5rem;
	width: 17.75rem;
	height: 15.375rem;
}
.progress__bar {
	position: relative;
	top: 5rem;
	left: -0.5rem;
	width: 61rem;
	height: 2.5rem;
}

.price {
	position: relative;
	top: 5.5rem;
	left: 0.5rem;
	width: 61.93rem;
}

.pick__input {
	color: var(--color-gray);
	width: 16.75rem;
	height: 3.375rem;
	background: none;
	border-color: var(--color-gray);
	flex-grow: 1;
  box-sizing: border-box;
  outline: none;

  font-size: 1rem;
	line-height: 140%;
}

.form__pick {
	position: relative;
	display: flex;
	justify-content: center;
	top: 1.7rem;
}

.pick__element {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.pick__btn {
	position: relative;
	top: 2.6rem;
	left: 0.2rem;
	color: var(--color-white);
}

.container__pick {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container__pick input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 0.8125rem;
    width: 0.8125rem;
    border: 0.1875rem;
    border-radius: 50%;
    border-color: var(--color-orange);
    border-style: solid;
}

.container__pick:hover input ~ .checkmark {
  background-color: #ccc;
}

.container__pick input:checked ~ .checkmark {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container__pick input:checked ~ .checkmark:after {
    display: block;
}

.container__pick .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.container__form {
	position: relative;
	display: flex;
	top: 1rem;
}

.monthly {
	position: relative;
	left: -2rem;
	top: 0.5rem;
}

.once {
	position: relative;
	left: 0.53rem;
	top: 0.5rem;
}

.text__pick-down {
	position: relative;
	top: 3.7rem;
	left: 0.3rem;
}


.footer__block {
	position: relative;
	display: flex;
	top: 2.5rem;
	margin: -1rem auto;
	display: flex;
	height: 27.6875rem;
	width: 100rem;
	background-color: var(--color-black);
}


.page-footer__logo {
	position: absolute;
	top: 0.8rem;
}


.logo__image-footer {
	position: absolute;
	top: 3.2rem;
	left: 14.45rem;
}

.footer__navigation {
	position: absolute;
	top: 21rem;
	left: 12.5rem;
}

.main-navigation {
	position: relative;
	display: flex;
}

.footer__navigation-link {
	margin: -3.5rem;
}

.title__planner {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 1.1rem;
	left: 63.4rem;
}

.task__planner {
	position: relative;
	margin-top: -0.8rem;
	left: -0.1rem;
}

#task-planner__button {
	position: absolute;
	left: 14.56rem;

	width: 8.0625rem;
	height: 2.625rem;
	margin-left: 0.3rem;
	border-radius: 3px;
	border-style: solid;
	color: var(--color-green);
	background: var(--color-white);
}

.task-planner__input {
	width: 13.9rem;
	height: 2.300rem;
	background: rgba( 0,0,0,.1);
	border-color: var(--color-orange);

	font-family: 'Roboto';
	font-style: normal;
	color: var(--color-input-grey);
}

.title__planner-text {
	color: var(--color-white);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 120%;

}

.social-links {
	position: absolute;
	display: flex;
	top: 15.5rem;
	left: 11.4rem;
	line-height: 1.8;
}

.social-links__list {
	position: relative;
	display: flex;
	flex-direction: column;
}


#link-facebook {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/facebook-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#link-facebook:hover {
	background: url('assets/icon/facebook-link-active.svg') no-repeat;
}

#link-facebook:active {
	background: url('assets/icon/facebook-link-active.svg') no-repeat;
}

.facebook-logo {
	position: relative;
	left: -6rem;
}

.facebook-logo:hover {
	color: var(--color-green);
}

.facebook-logo:active {
	color: var(--color-green);
}

#twitter-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/twitter-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#twitter-link:hover {
	background: url('assets/icon/twitter-link-active.svg') no-repeat;
}

#twitter-link:active {
	background: url('assets/icon/twitter-link-active.svg') no-repeat;
}

.twitter-logo {
	position: relative;
	left: -7.3rem;
}

.twitter-logo:hover {
	color: var(--color-green);
}

.twitter-logo:active {
	color: var(--color-green);
}

#instagram-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/instagram-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	left: -0.3rem;
	color: var(--color-white);
}

#instagram-link:hover {
	background: url('assets/icon/instagram-link-active.svg') no-repeat;
	left: 0.01rem;
}

#instagram-link:active {
	background: url('assets/icon/instagram-link-active.svg') no-repeat;
}

.instagram-logo {
	position: relative;
	left: -5.5rem;
}

.instagram-logo:hover {
	color: var(--color-green);
}

.instagram-logo:active {
	color: var(--color-green);
}

#youTube-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/youTube-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#youTube-link:hover {
	background: url('assets/icon/youTube-link-active.svg') no-repeat;
}

#youTube-link:active {
	background: url('assets/icon/youTube-link-active.svg') no-repeat;
}


.youTube-logo {
	position: relative;
	left: -6.5rem;
}

.youTube-logo:hover {
	color: var(--color-green);
}

.youTube-logo:active {
	color: var(--color-green);
}

.footer__button {
	position: absolute;
	width: 18.625rem;
	height: 3.4375rem;
	border-radius: 5px;

	top: 10rem;
	left: 13.8rem;	
}

.footer__copyright {
	position: absolute;
	top: 20.5rem;
	left: 72rem;

	color: var(--color-white);

	font-weight: 100;
	font-family: 'Roboto';
	font-size: 1rem;
	line-height: 2;
}

.footer__copyright:hover {
	background-color: var(--color-white);
}

.footer__copyright:active {
	background-color: var(--color-white);
}

.disigned__by {
color: var(--color-white);
}

#copyright-link:hover {
color: var(--color-green);
}

#copyright-link:active {
color: var(--color-green);
}

.disigned__by:hover {
color: var(--color-green);
}

.disigned__by:active {
color: var(--color-green);
}
