:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-yellow: #FFEE2E;
	--color-orange-title: #FE9013;
	--color-pick-grey: #333B41;;
}

.social-links, .main-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
	color: var(--color-white);
	list-style: none;
 	margin: 0;
 	padding: 0;
}

body {
	font-family: 'Roboto';
	font-style: normal;

}

button {
background:  linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
width: 18.625rem;
height: 3.375rem;
border:none;
}

.logo__text {
	color: var(--color-white);
	font-weight: 400;
	font-size: 1.1875rem;
	line-height: 120%;
	box-sizing: border-box;

	position: absolute;
	width: 5.125rem;
	height: 3.25rem;
	left: 0rem;
	top: 0rem;

	border: 0.0625rem solid var(--color-white);
	border-radius: 0.125rem;
}

.header__page {
	position: relative;
	margin: -1rem auto;
	width: 100rem;
	height: 6rem;
	background:  var(--color-black);
	backdrop-filter: blur(2px);
}

.logo__text {
	position: absolute;
	width: 4.5625rem;
	height: 2.9375rem;
	left: 13.75rem;
	top: 1.1rem;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-navigation {
	width: 37rem;
	margin-top: 2.8rem;
	margin-left: 19rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#main-navigation__hidden {
	margin-left: 79.5rem;
	margin-top: -0.8rem;
}

.header__block {
	width: 100rem;
	height: 49.8rem;
	background: url("assets/img/header-bg.jpg") no-repeat;
	z-index: -3;
  background-position: center;
  background-size: auto 100%;
  margin-top: 18rem;
  	position: relative;
	margin: -1rem auto;
}

.ogange-bg {
	position: absolute;
	border-radius: 50%;
	z-index: -1;
	width: 29.0625rem;
	height: 29.0625rem;
	left: calc(50% - 465px/2 + 239.5px);
	top: 5.75rem;


	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}


.preview__block {
	position: absolute;
	color: var(--color-white);
	width: 31.27rem;
	height: 25rem;
	left: 55rem;
	top: 2.4rem;


	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 6.656rem;
	line-height: 75%;

	text-align: center;
	text-transform: uppercase;
}

#favorite__word {
	color: var(--color-yellow);
}

.preview__button {
	position: relative;
	font-size: 1rem;
	top: -6rem;
}

.button-text {
color:  var(--color-white);
}
.backstage-block {
	position: relative;
	margin: -1rem auto;
	left: -1.2rem;
	width: 100rem;
	height: 25.1875rem;
	top: 9.8rem;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 3.33%;
}

.backstage-container {
	position: relative;
	margin:  auto;
	width: 69.5625rem;
	height: 25.1875rem;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 3.33%;
	left: 8rem;
}

.flower_foto {
	position: relative;
	right: -1.1rem;

}

.backsatge-text__1 {
	font-size: 3rem;
}

.backsatge-text__2 {
	font-size: 1.5rem;
		position: relative;
		top: 0.8rem;
}

.container__backstage {
	position: relative;
	top: -1.8rem;
	left: 3rem;
}

.text__bottom__1 {
	position: relative;
	top: -1.3rem;
}
.text__bottom__2 {
	position: relative;
	top: 1.5rem;
	line-height: 1.36em;
}

.pets__gallery {
	position: relative;
	top: 22rem;

}

.gallery {
	display: flex;
	position: relative;
	margin:  auto;
	width: 73rem;
	height: 56.5rem;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: 3.33%;
}

.gallery__title {
	position: relative;
	top: -1.1rem;
	left: 1rem;
}


.gallery__text {
	position: relative;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 1rem;
	line-height: 120%;

	width: 18.375rem;
	height: 1.125rem;
	left: 1rem;
	top: -2.5rem;
}


.gallery__card {
	height: 26.5rem;
	margin-left: -0.2rem;
	margin-right: -0.6rem;
	margin-bottom: 1.2rem;
	border-color: #FA6F32 #FE9013;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
}

.gallery__icon {
	position: relative;
	display: flex;

}
.icon__block {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem
}

.icon__fish {
	left: 2rem;
}

.icon__block_2 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;
}

.icon__block_3 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;

}

.icon__block_4 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;
}

.icon__block_5 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;
}

.icon__block_6 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;
}

.gallery__button__side {
	width: 82.5rem ;
	position: relative;
	margin: -1rem auto;
	display: flex;
	justify-content: space-between;
	top: -30.45rem;
}

.gallery__button {
	height: 3.875rem;
	width: 3.875rem;
	border-radius: 50%;
}

.choose-your-favorite {
	position: relative;
	margin-top: 3.8rem;
}

.pick_and_fied_a_friend {
	position: relative;
	top: 33rem;
}

.pick__wrraper {
	width: 100rem;
	height: 62.75rem;
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	opacity: 0.9;
	position: relative;
	margin: -1rem auto;

	top: -28rem;
}

.pick__block {
	position: relative;
	display: flex;
	width: 72.5rem;
	height: 52.1875rem;

	background: rgba(253, 253, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 1.25rem;

	top: 4rem;
	left: 14rem;
}

.pick__image-block {
	top: 26.2rem;
	left: 12rem;
	position: absolute;
	display: flex;
	flex-direction: row;
}

.widjet-arrow {
	margin-top: -5rem;
	margin-left: 1.9rem;
	margin-right: 1.9rem;
}

.pick__block-text {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	top: -13.8rem;
	left: 6rem;
}

.pick__title {
	position: absolute;
	display: flex;
	text-align: center;
	color: var(--color-orange-title);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 120%;

	left: 21.7rem;
	top: 0.2rem;
}

.pick__title-how-it-works {
	position: absolute;
	top: 18.5rem;
	left: 29.5rem;

	color: var(--color-pick-grey);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
}

.pick__text-1 {
	color: var(--color-pick-grey);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 120%;
}

.pick__text-2 {
	width: 66.5rem;

}

.pick__text-3 {
	width: 53.9375rem;
	margin-top: -0.2rem;
}

.under__line {
	position: absolute;
	top: 17rem;
	left: 11.5rem;


	width: 11.125rem;
	height: 0.3rem;
	border-top: 2px solid;
	color: var(--color-orange-title);
}

.feed-a-friend-now {
	position: relative;

	width: 18.6;
	top: 45.2rem;
	left: -39.8rem;

}

.pick__insert {
	width: 103rem;

	position: relative;
	margin: -1rem auto;
	display: flex;
	justify-content: space-between;

	top: -29rem;
	left: 1.2rem;
}

.flower__right-foto {
	position: relative;
	top: 12rem;
	left: -1.5rem;

	width: 23rem;
	height: 17.1875rem;
}

.pick_and_fied_a_friend {
	position: relative;

}