:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-yellow: #FFEE2E;
	--color-orange: #F9804B;
	--color-deep-orange: #E47209;
	--color-black-blue: #333B41;
	--color-input-grey: #BDBDBD;
	--color-light-grey: #F1F3F2;
	--color-pink-gradient: rgba(243, 169, 248, 0.66)  rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66) rgba(224, 216, 240, 1);
	--color-black: #000000;
	--color-green:  #4B9200;
	--color-gray: #767474;
	--color-red: #D31414;
}


html {
	scroll-behavior: smooth;
}


@media screen and (max-width: 1000px) {
	html {
		width: 1000px;
		overflow-x: hidden;
	}
}

@media screen and (max-width: 640px) {
	html {
		width: 640px;
		overflow-x: hidden;
	}
}

@media screen and (max-width: 320px) {
	html {
		width: 320px;
		overflow-x: hidden;
	}
}



button {
	color: var(--color-white);
	cursor: pointer;
	text-align: center;
}

.social-links, .main-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
 }



a {
	color: var(--color-white);
	list-style: none;
 	margin: 0;
 	padding: 0;
 	cursor: pointer;
 	z-index: 3;
 	text-decoration: none;
}

a:hover {
  color: var(--color-orange);
  cursor: pointer;
  transform: scale(1.3);
  text-decoration: none;
}
a:active {
  color: var(--color-orange);
  transform: scale(1.3);
  text-decoration: none;
}

li {
	list-style-type: none;
	cursor: pointer;
	z-index: 3;
	text-decoration: none;
}

body {
	font-family: 'Roboto';
	font-style: normal;
	overflow-x: hidden;
	position: relative;
	margin: 0 auto;
}
@media screen and (max-width: 1000px) {
	body{
		overflow-x: hidden;
	}
}

@media screen and (max-width: 640px) {
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 320px) {
	body {
		overflow-x: hidden;
	}
}


button {
	background:  linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	border-radius: 25px;
	width: 18.625rem;
	height: 3.375rem;
	border:none;
}

button:hover {
	background: var(--color-deep-orange);
}

button:active {
	background: var(--color-green);
}

button:disabled {
	background: var(--color-gray);
}

@media screen and (max-width: 1000px) {
	main {
	height: 2760px;
	}
}

@media screen and (max-width: 640px) {
	main {
		width: 640px;
		height: 2350px;
		margin: 0 auto;
	}
} 

@media screen and (max-width: 320px) {
	main {
		width: 320px;
		height: 1865px;
		margin: 0 auto;
	}
}

.logo__text {
	color: var(--color-white);
	font-weight: 400;
	font-size: 1.1875rem;
	line-height: 120%;
	box-sizing: border-box;

	position: absolute;
	width: 5.3rem;
	height: 3.3rem;
	left: 13.75rem;
	top: 1.1rem;
	text-align: center;

	border: 0.0625rem solid var(--color-white);
	border-radius: 0.125rem;
}

@media screen and (max-width: 640px) {
	.logo__text {
		font-size: 19.0145px;
		box-sizing: border-box;
		top: 1rem;
		left: 13.75rem;
	}	
}

@media screen and (max-width: 320px) {
	#logo__text-320 {
		font-size: 19.0145px;
		border: none;
		top: 1rem;
		left: 13.75rem;
		width: 128px;
		height: 23px;
		font-size: 19px;
	}	
}

.logo__image-header {
	position: absolute;
	top: 3.2rem;
	left: 14.45rem;
}

@media screen and (max-width: 640px) {
	.logo__image-header {

		position: absolute;
		top: 2.3rem;
		left: 13.8rem;
		width: 4.54px;
		height: 13.56px;
	}
}

.page-header__logo {
	position: absolute;
	top: 2rem;
	text-align: center;
}

.home__link {
	position: absolute;
	width: 6rem;
	height: 5rem;
	top: 1rem;
	left: 13rem;
}

@media screen and (max-width: 640px) {
	.home__link {
		position: absolute;
		width: 6rem;
		height: 5rem;
		top: 1rem;
		left: 13rem;
	}	
}

@media screen and (max-width: 640px) {
	.home__link:hover {
		transform: none;
		text-decoration: none;
	 }
	}


@media screen and (max-width: 640px) {
	.home__link:active {
		transform: none;
		text-decoration: none;
	}
}

@media screen and (max-width: 640px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0 auto;
		width: 100%;
		z-index: 10;
	}
}

@media screen and (max-width: 320px) {
	header {
	position: fixed;

	}
}


.header__page {
	position: relative;
	margin: 0 auto;
	width: 100rem;
	height: 5rem;
	background:  var(--color-black);
	backdrop-filter: blur(2px);
}
 @media screen and (max-width: 1000px) {
	.header__page {
	width: 1000px;
	height: 5rem;
	top: 0;
	z-index: 3;
	}
}

@media screen and (max-width: 640px) {
	.header__page {
	position: fixed;
	width: 100%;
	height: 34px;
	padding: 0;
	margin: 0 auto;
	top: 0;
	z-index: 12;
	}
}

@media screen and (max-width: 320px) {
	.header__page {
	background:  var(--color-black);
	position: fixed;
	width: 320px;
	height: 35.5px;
	padding: 0;
	margin: 0 auto;
	z-index: 5;
	}
}

.header__wrapper {
	position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  top: -1rem;
  z-index: 5;
}

@media screen and (max-width: 1000px) {
	.header__wrapper {
		top: -15px;
		left: -190px;
		height: 52px;
	}
}

@media screen and (max-width: 640px) {
	.header__wrapper {
	display: none;
	}
}

#header__wrapper-1000 {
display: none;
}

@media screen and (max-width: 640px) {
	#header__wrapper-1000 {
	position: relative;
	display: block;
	top: -1rem;
	left: -11.7rem;
	}
}


@media screen and (max-width: 320px) {
	#header__wrapper-1000 {
		position: relative;
	display: block;
	top: -0.8rem;
	left: -12.3rem;
	}
}

.main-navigation {
	width: 37rem;
	margin-top: 2.8rem;
	margin-left: 19rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;

	top: -1rem;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
}

@media screen and (max-width: 1000px) {
	.main-navigation {
		margin: 0;
		left: 7.8rem;
		top: -1.3rem;
		width: 53%;
	}	
}


.navigation__about {
	color: #E47209;
}

#main-navigation__hidden {
	position: relative;
	top: -1.35rem;
	left: 0.15rem;

	margin-left: 79.5rem;
	margin-top: -0.8rem;
}

@media screen and (max-width: 1000px) {
	#main-navigation__hidden {
		position: absolute;
		margin-left: 0;
		left: 86.5%;
		top: -0.5rem;
		font-weight: lighter;
	}
}

@media (max-width: 640px) {
	#main-navigation__hidden {
		color: var(--color-black-blue);
		font-family: 'Roboto';
		font-style: normal;
		position: relative;
		display: inline;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		top: 97%;
		left: -50%;
	  }
	}

.page-header__navigation {
	position: relative;
}

/* @media screen and (max-width: 640px) {
	.page-header__navigation {
		display: none;
	}
} */

.header__block {
	width: 100rem;
	height: 48.75rem;
	background: url("assets/img/header-bg.jpg") no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin-top: 18rem;
  position: relative;
	margin: -1rem auto;
}

@media screen and (max-width: 1000px) {
	.header__block {
		background: url("assets/img/header-bg-1000px.png") no-repeat;
		height: 584px;
		width: 1000px;
	  	position: relative;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px) {
	.header__block {
	background: url("assets/img/header-bg-640px.png") no-repeat;
	position: relative;
	margin: 0 auto;	
	height: 373px;
	width: 640px;
	}
}

@media screen and (max-width: 320px) {
	.header__block {
	background: url("assets/img/header-bg-320px.png") no-repeat;
	position: relative;
	margin: 0 auto;	
	height: 221px;
	width: 320px;
	top: 34px;
	}
}
.ogange-bg {
	position: absolute;
	border-radius: 50%;
	width: 29.0625rem;
	height: 29.0625rem;
	left: calc(50% - 465px/2 + 239.5px);
	top: -42rem;
	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

@media screen and (max-width: 1000px) {
	.ogange-bg {
		width: 367px;
		height: 367px;
		top: -31.9rem;
		left: 45.5%;
	}	
}

@media screen and (max-width: 640px) {
	.ogange-bg {
		width: 237.6px;
		height: 237.6px;
		top: -19.6rem;
		left: 33%;
	}	
}

@media screen and (max-width: 320px) {
	.ogange-bg {
		width: 119px;
		height: 119px;
		top: -9.3rem;
		left: 16.3%;
	}	
}

.Watch-your-favorite-animal-online {
	position: relative;
	margin: -1rem auto;
}

@media screen and (max-width: 1000px) {
	.Watch-your-favorite-animal-online {
		width: 1000px;
		margin: 0 auto;
	}	
}

/* @media screen and (max-width: 320px) {
	.Watch-your-favorite-animal-online {
		width: 320px;
		margin: 0 auto;
	}	
} */

.preview__block {
	position: relative;
	color: var(--color-white);
	width: 31.27rem;
	height: 25rem;
	margin: -1rem auto;


	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 6.656rem;
	line-height: 75%;
	letter-spacing: 0.05rem;

	text-align: center;
	text-transform: uppercase;

	top: -7.2rem;
	left: 1rem;
}

@media screen and (max-width: 1000px) {
	.preview__block {
	width: 401px;
	height: 320px;	
	font-size: 85px;
	top: 4rem;
	left: -10%;
	}	
}

@media screen and (max-width: 640px) {
	.preview__block {
	width: 255.64px;
	height: 204.38px;	
	font-size: 54.29px;
	top: 17.3rem;
	left: -32%;
	}	
}

@media screen and (max-width: 320px) {
	.preview__block {
	width: 128.13px;
	height: 102.44px;	
	font-size: 28px;
	top: 28.5rem;
	left: -57.65%;
	}	
}

#favorite__word {
	color: var(--color-yellow);
	letter-spacing: 0.1rem;
}

@media screen and (max-width: 320px) {
	#favorite__word  {
		letter-spacing: 0.06rem;
	}
}

.preview__subtitle {
	position: absolute;
	top: -39rem;
	left: 20rem;
	z-index: 2;
}

@media screen and (max-width: 320px) {
	.preview__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 75%;
	}
}

.preview__button {
	position: absolute;
	font-size: 1rem;
	top: -2.2rem;
	left: 26.1rem;
}

@media screen and (max-width: 1000px) {
	.preview__button {
		top: -9.5rem;
		left: 22.7rem;
		display: flex;
	}	
}

@media screen and (max-width: 640px) {
	.preview__button {
		position: absolute;
		top: -22.2rem;
		left: -12.5%;
		display: flex;
	}	
}

@media screen and (max-width: 320px) {
	.preview__button {
		position: absolute;
		top: -26.25rem;
		left: 118.2%;
		display: flex;
	}	
}

.button-text {
	position: relative;
	top: 0.15rem;
	left: 0.15rem;
	color:  var(--color-white);
	letter-spacing: 0.0015rem;
}

@media screen and (max-width: 1000px) {
	.the__backsatge {
		position: relative;
		width: 1000px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px) {
	.the__backsatge {
		position: relative;
		width: 640px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.the__backsatge {
		position: relative;
		width: 322px;
		margin: 0 auto;
		top: 2.4rem;
		left: -2rem;
	}
}

.backstage-block {
	position: relative;
	margin: -1rem auto;
	left: -1.2rem;
	width: 100rem;
	height: 25.1875rem;
	top: -14rem;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 3.33%;
}

@media screen and (max-width: 1000px) {
	.backstage-block {
		position: relative;
		width: 1000px;
		margin: 0 auto;
		left: 0px;
		top: -13.1rem;
	}
}

@media screen and (max-width: 640px) {
	.backstage-block {
		position: relative;
		width: 640px;
		margin: 0 auto;
		left: 0px;
		top: -11rem;
	}
}

@media screen and (max-width: 320px) {
	.backstage-block {
		position: relative;
		width: 320px;
		margin: 0 auto;
		left: 0px;
		top: -2rem;
	}
}

.backstage-container {
	position: relative;
	margin:  auto;
	width: 69.5625rem;
	height: 25.1875rem;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 3.33%;
	left: 8rem;
}


@media screen and (max-width: 1000px) {
	.backstage-container {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		background: url("assets/img/bamboo-cap-1000px.png") no-repeat;
		background-size: auto;
		width: 925px;
		height: 427px;
		margin: 0 auto;
		padding: 0;
		left: -0.8rem;
		top: 2.5rem;
	}
}

@media screen and (max-width: 640px) {
	.backstage-container {
		display: flex;
		justify-content: flex-end;
		background-image: none;
		width: 640px;
		height: 400px;
		left: 0rem;
		top: 0.5rem;
	}
}

@media screen and (max-width: 320px) {
	.backstage-container {
		display: flex;
		justify-content: flex-end;
		background-image: none;
		width: 640px;
		height: 400px;
		left: 0rem;
		top: 0.5rem;
	}
}

.flower_foto {
	position: relative;
	right: -1.2rem;
	top: -1.3rem;

}

@media screen and (max-width: 1000px) {
	.flower_foto {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.flower_foto {
		display: block;
		width: 231px;
		height: 476px;
		right: -27px;
		top: 3rem;
	}
}

.flower_foto-320 {
	display: none;
}

@media screen and (max-width: 320px) {
	.flower_foto {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.flower_foto-320 {
		display: block;
		position: absolute;
		right: -30px;
		top: -32px;
	}
}

.backstage-img {
	position: relative;
	top: -0.02rem;
	left: -0.3rem;
}

.backstage-img-1000 {
display: none;
}


@media screen and (max-width: 1000px) {
	.backstage-img-1 {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.backstage-img-1000 {
		position: relative;
		display: block;
		top: 2.5rem;
	}
}

@media screen and (max-width: 640px) {
	.backstage-img-1 {
		display: none;
	}	
}

.backsatge-text__1 {
	font-size: 3rem;
}

@media screen and (max-width: 320px) {
	.backsatge-text__1 {
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
	}	
}

.backsatge-text__2 {
	position: relative;
	font-size: 1.5rem;
	top: 1.2rem;
	left: -0.07rem;
}

@media screen and (max-width: 640px) {
	.container__backstage-bottom {
		position: relative;
		top: -1.5rem;
	}
}

@media screen and (max-width: 320px) {
	.container__backstage-bottom {
		position: relative;
		top: -2.1rem;
	}
}

.container__backstage {
	position: relative;
	top: -1.7rem;
	left: 3rem;
}

@media screen and (max-width: 1000px) {
	.container__backstage {
		width: 454px;
		height: 116px;
		left: 1rem;
		top: -2.8rem;
	}	
}

@media screen and (max-width: 640px) {
	.container__backstage {
		width: 495px;
		height: 367px;
		left: 2.8rem;
		top: 1rem;
	}	
}

@media screen and (max-width: 320px) {
	.container__backstage {
		width: 300px;
		height: 400px;
		left: 2rem;
		top: 0rem;
	}	
}

.text__bottom__1 {
	position: relative;
	top: -0.81rem;
}

@media screen and (max-width: 640px) {
	.text__bottom__1 {
left: -5px;
	}
}

@media screen and (max-width: 320px) {
	.text__bottom__1 {
		width: 297px;
		height: 63px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.05px;
	}
}

@media screen and (max-width: 320px) {
	.text__bottom__1 br {
display: none;
	}
}

.text__bottom__2 {
	position: relative;
	top: 1.9rem;
	line-height: 1.36em;
	left: -0.1rem;
}

@media screen and (max-width: 640px) {
	.text__bottom__2 {
		top: 1.1rem;
		left: -5px;
		letter-spacing: -0.055px;
	}
}

@media screen and (max-width: 320px) {
	.text__bottom__2 {
		top: 0.4rem;
	}
}

.pets__gallery {
	position: relative;
	top: -2rem;
}

@media screen and (max-width: 1000px) {
	.pets__gallery {
		top: -3.3rem;
	}
}

@media screen and (max-width: 640px) {
	.pets__gallery {
		width: 320px;
		top: -8rem;
	}
}

@media screen and (max-width: 320px) {
	.pets__gallery {
		width: 320px;
		top: -0.35rem;
	}
}

.gallery {
	display: flex;
	position: relative;
	margin:  auto;
	width: 73rem;
	height: 56.5rem;
	left: -0.2rem;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: 3.33%;

}

@media screen and (max-width: 1000px) {
	.gallery {
		width: 950px;
		height: 1000px;
		display: flex;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 640px) {
	.gallery {
		display: flex;
		width: 640px;
		height: 756px;
		top: -0.3rem;
	}
}

@media screen and (max-width: 320px) {
	.gallery {
		display: flex;
		width: 320px;
		height: 1600px;
		top: 2.8rem;
		left: -0.3rem;
		gap: 20px;
	}
}

.gallery__title {
	position: relative;
	top: -1.1rem;
	left: 0.9rem;

	letter-spacing: 0.004rem;
}


@media screen and (max-width: 320px) {
	.gallery__title {
		font-size: 12.4695px;
		line-height: 140%;
		top: 0.5rem;
	}	
}

.gallery__text {
	position: relative;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 0.93rem;
	line-height: 120%;

	width: 18.375rem;
	height: 1.125rem;
	left: 1.03rem;
	top: -2.4rem;

	letter-spacing: 0.011rem;
}

@media screen and (max-width: 320px) {
	.gallery__text {
		font-weight: 500;
		font-size: 11.6901px;
		line-height: 120%;
		top: -0.6rem;	
	}
}


.gallery__card {
	height: 26.5rem;
	width: 22.875rem;
	margin-left: -0.15rem;
	margin-right: -0.57rem;
	margin-bottom: 1.2rem;
	border-color: #FA6F32 #FE9013;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
}

@media screen and (max-width: 1000px) {
	.gallery__card {
		display: flex;
		align-items: flex-end;
		width: 294px;
		height: 354px;
	}	
}

@media screen and (max-width: 640px) {
	.gallery__card {
		display: flex;
		align-items: flex-end;
		width: 285px;
		height: 332px;
		margin-top: 4rem;
	}	
}

@media screen and (max-width: 320px) {
	.gallery__card {
		display: flex;
		align-items: flex-end;
		width: 285px;
		height: 330px;
		margin-top: -1.9rem;
		margin-bottom: -0.4rem;
	}	
}

.gallery_img {
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: 0.5s;
}

@media screen and  (max-width: 1000px) {
	.gallery_card-1 {
		background: url("assets/img/gallery__img-1-1000px.jpg") no-repeat;
	}
}

@media screen and (max-width: 320px) {
	.gallery_card-1 {
		background-size: 283px;
	}
}

@media screen and (max-width: 1000px) {
	.gallery_card-2 {
		background: url("assets/img/gallery__img-2-1000px.jpg") no-repeat;
	}
}

@media screen and (max-width: 320px) {
	.gallery_card-2 {
		background-size: 283px;
		margin-top: -4rem;
	}
}

@media screen and (max-width: 1000px) {
	.gallery_card-3 {
		background: url("assets/img/gallery__img-3-1000px.jpg") no-repeat;
	}
}
@media screen and (max-width: 320px) {
	.gallery_card-3 {
		background-size: 283px;
		margin-top: -4rem;
	}
}

@media screen and (max-width: 640px) {
	.gallery_card-3 {
		margin-top: 4.45rem;
	}
}

@media screen and (max-width: 1000px) {
	.gallery_card-4 {
		margin-top: 0.5rem;
		background: url("assets/img/gallery__img-4-1000px.jpg") no-repeat;
	}
}


@media screen and (max-width: 640px) {
	.gallery_card-4 {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.gallery_card-4 {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.gallery_card-5 {
		margin-top: 0.5rem;
		background: url("assets/img/gallery__img-5-1000px.jpg") no-repeat;
	}
}

@media screen and (max-width: 640px) {
	.gallery_card-5 {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.gallery_card-5 {
		margin-top: -4rem;
	}
}

@media screen and (max-width: 1000px) {
	.gallery_card-6 {
		margin-top: 0.5rem;
		background: url("assets/img/gallery__img-7-1000px.jpg") no-repeat;
	}
}

@media screen and (max-width: 640px) {
	.gallery_card-6 {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.gallery_card-7 {
		display: block;
	}
}

@media screen and (max-width: 320px) {
	.gallery_card-6 {
		display: none;
	}
}

.gallery_card-7 {
	display: none;
}

@media screen and (max-width: 640px) {
	.gallery_card-7 {
		display: block;
		position: relative;
		top: 2rem;
		margin-top: 0.5rem;
		background: url("assets/img/gallery__img-6-1000px.jpg") no-repeat;
	}
}

@media screen and (max-width: 1000px) {
	.gallery_card-7 {
		margin-top: 0.5rem;
		background: url("assets/img/gallery__img-6-1000px.jpg") no-repeat;
	}
}

@media screen and (max-width: 320px) {
	.gallery_card-7 {
		background-size: 283px;
		display: block;
		margin-top: -4rem;
	}
}

@media screen and (max-width: 1000px) {
	.gallery_img  {
		display: none;
		width: 294px;
	}
}

@media screen and (max-width: 320px) {
	.gallery_img  {
		display: none;
		width: 294px;
	}
}


.gallery_img:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, -0.5);
	z-index: 2;
	transition: 0.5s;
}

.gallery_img img {
	transition: 1s;
	display: block;
	width: 366px;
	height: 366px;
}

.gallery_img:hover img {
	transform: scale(1.1);
	
}

@media screen and (max-width: 320px) {
#gallery_img-panda {
display: none;
}
}


.gallery__card:hover .gallery_img:after {
	background: rgba(0, 0, 0, 0.5);
}

.gallery__card:hover .desc__card {
	transform: translateY(-50px);
	z-index: 5;
}

.gallery__card:hover .desc__card h4 {
	color: white;
	z-index: 5;
}

.gallery__card:hover .desc__card p {
	color: white;
	z-index: 1;
}

.gallery__card:hover .gallery_img {
	z-index: 0;
}


@media screen and (max-width: 1000px) {
	.desc__card {
		position: relative;
		top: 80px;
	}	
}

@media screen and (max-width: 640px) {
	.desc__card {
		font-size: 12.4695px;
		position: relative;
		height: 150px;
		top: 105px;
		left: -4px;
		margin-top: 0rem;
		margin-bottom: -0.8rem;
	}	
}

@media screen and (max-width: 320px) {
	.desc__card {
		position: relative;
		height: 150px;
		top: 70px;
		left: -4px;
		margin-top: 0rem;
		margin-bottom: -0.8rem;
	}	
}

@media screen and (max-width: 640px) {
	.desc__card-7 {
	position: relative;
	top: 90%;
	}
	}

@media screen and (max-width: 320px) {
.desc__card-7 {
position: relative;
top: 81%;
}
}

.gallery__icon {
	position: relative;
	display: flex;
}

@media screen and (max-width: 320px) {
	.gallery__icon {
		top: 2rem;
	}
}


.icon__block {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.7rem
}


.icon__fish {
	left: 2rem;
}

.icon__block_2 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;
}

.icon__block_3 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.7rem;

}

.icon__block_4 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.75rem;
}

.icon__block_5 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;
}

.icon__block_6 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -5.6rem;
	left: -0.5rem;
}

@media screen and (max-width: 640px) {
	#icon__block_7 {
		position: relative;
		top: -6rem;
		left: 14.8rem;
	}
}

.gallery__button__side {
	width: 82.5rem ;
	position: relative;
	margin: -1rem auto;
	display: flex;
	justify-content: space-between;
	top: -30.35rem;
}

@media screen and (max-width: 1000px) {
	.gallery__button__side {
		position: absolute;
		display: flex;
		justify-content: space-around;
		width: 460px;
		top: 41.5%;
		left: 27%;
	}	
}

@media screen and (max-width: 640px) {
	.gallery__button__side {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 460px;
		top: 55.4%;
		left: 28.8%;
	}	
}

@media screen and (max-width: 320px) {
	.gallery__button__side {
		display: none;
	}	
}

.gallery__button {
	height: 3.875rem;
	width: 3.875rem;
	border-radius: 50%;
}

.gallery__button_left {
	position: relative;
	left: -0.1rem;
}

@media screen and (max-width: 640px) {
	.gallery__button_left{

		margin-right: 1.8rem;
		
	}	
}

.choose-your-favorite {
	position: relative;
	margin-top: 3.8rem;
	left: 0.26rem;
	z-index: 3;
}

.choose-your-favorite:hover {
background: var(--color-deep-orange);
}

.choose-your-favorite:active {
	background: var(--color-green);
}

.choose-your-favorite:disabled {
	background: var(--color-gray);
}

@media screen and (max-width: 1000px) {
	.choose-your-favorite {
		margin: auto;
		top: -0.2rem;
	}
}

@media screen and (max-width: 640px) {
	.choose-your-favorite {
		top: 2.4rem;
	}
}

@media screen and (max-width: 320px) {
	.choose-your-favorite {
		margin: auto;
		top: -4.65rem;
		left: 0.25rem;
	}
}

.pick__wrraper {
	width: 100rem;
	height: 62.75rem;
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	opacity: 0.9;
	position: relative;
	margin: -1rem auto;

	top: -28rem;
}

@media screen and (max-width: 1000px) {
	.pick__wrraper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1000px;
		height: 54.75rem;
		margin: 0 auto;

		top: -26.3rem;
	}	
}

@media screen and (max-width: 640px) {
	.pick__wrraper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 640px;
		height: 781px;
		margin: 0 auto;
		top: -20.5rem;
	}	
}

@media screen and (max-width: 320px) {
	.pick__wrraper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 320px;
		height: 1082px;
		margin: 0 auto;
		top: -30.85rem;
	}	
}

.pick__block {
	position: relative;
	display: flex;
	width: 72.5rem;
	height: 52.1875rem;

	background: rgba(253, 253, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 1.25rem;

	top: 4rem;
	left: 14rem;
}

@media screen and (max-width: 1000px) {
	.pick__block  {
		display: flex;
		width: 940px;
		height: 796px;
		margin: 0 auto;
		left: auto;
		top: -0.65rem;
	}	
}

@media screen and (max-width: 640px) {
	.pick__block  {
		display: flex;
		justify-content: center;
		width: 640px;
		height: 741px;
		margin: 0 auto;
		left: auto;
		right: auto;
		top: 0rem;
		border-radius: 20px;
	}	
}

@media screen and (max-width: 320px) {
	.pick__block  {
		display: flex;
		justify-content: center;
		width: 300px;
		height: 1042px;
		margin: 0 auto;
		left: auto;
		right: auto;
		top: 0rem;
		border-radius: 20px;
	}	
}

.pick__image-block {
	top: 27rem;
	left: 13rem;
	position: absolute;
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 1000px) {
	.pick__image-block {
		left: 5.5rem;
		top: 23.7rem;
		margin: 0;
	}
}

@media screen and (max-width: 640px) {
	.pick__image-block {
		left: 30px;
		right: auto;
		top: 22rem;
		margin: 0;
	}
}

@media screen and (max-width: 320px) {
	.pick__image-block {
		display: none;
	}
}

.pick__image-block-320 {
	display: none;
}

@media screen and (max-width: 320px) {
	.pick__image-block-320 {
		display: block;
		position: relative;
		top: 20.6%;
		left: 0.32rem;
	}
}

.widjet-arrow {
	margin-top: -5rem;
	margin-left: 1.8rem;
	margin-right: 1.8rem;
}

@media screen and (max-width: 640px) {
	.widjet-arrow {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.widjet-arrow-320 {
		position: absolute;
		top: 1rem;
		left: 105%;
		margin-top: -27%;
		margin-bottom: -5%;
	}
}

@media screen and (max-width: 320px) {
	.widjet-arrow-320 {
		position: absolute;
		left: 105%;
		margin-top: -27%;
		margin-bottom: -5%;
	}
}

.widjet-green {
	display: none;
}

@media screen and (max-width: 640px) {
	.widjet-green {
		display: inline;
		position: relative;
		top: -7.5rem;
		left: -0.2rem;
	}	
}

.widjet-4 {
	position: relative;
	top: -0.3rem;
}

@media screen and (max-width: 320px) {
	.widjet-320-1 {
		height: 222px;
		margin: -20px 0;
	}	
}

@media screen and (max-width: 320px) {
 .widjet-320-3 {
	position: relative;
		height: 222px;
		margin-top: 6.5px;
		top: 2rem;
		left: 6px;
	}	
}

@media screen and (max-width: 320px) {
	.widjet-320-4 {
		  top: 27.5rem;
		  right: 1rem;
	  }	
  }

@media screen and (max-width: 320px) {
	.widjet-320-5 {
		position: relative;
		  height: 222px;
		  margin-top: -5px;
		  left: 6px;
		  top: 3.9rem;
	  }	
  }

@media screen and (max-width: 640px) {
	.widjet {
		margin: -12px;
	}	
}

.pick__block-text {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	top: -13.6rem;
	left: 6rem;
}

@media screen and (max-width: 1000px) {
	.pick__block-text {
		width: 880px;
		left: 8%;
		top: -13.7rem;
		left: 3rem;
		letter-spacing: 0.0008rem;
	}
}

@media screen and (max-width: 640px) {
	.pick__block-text {
		width: 600px;
		left: 8.7%;
		top: -13.7rem;
		left: 9rem;
		letter-spacing: 0.0008rem;
	}
}

@media screen and (max-width: 320px) {
	.pick__block-text {
		width: 297px;
		font-size: 18px;
		left: 8%;
		top: -13.7rem;
		left: 9rem;
		letter-spacing: 0.0008rem;
	}
}

.pick__title {
	position: absolute;
	display: flex;
	text-align: center;
	color: var(--color-orange);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 120%;

	left: 21.7rem;
	top: 0.28rem;
}

@media screen and (max-width: 1000px) {
	.pick__title {
		left: 25.5%;
		right: 24.5%;
		top: -0.35rem;
	}
}

@media screen and (max-width: 640px) {
	.pick__title {
		width: 405px;
		height: 50px;
		font-size: 42px;
		left: auto;
		right: auto;
		top: -1.4rem;
	}
}

@media screen and (max-width: 320px) {
	.pick__title {
		width: 232px;
		height: 29px;
		font-size: 24px;
		left: auto;
		right: auto;
		top: 0rem;
	}
}

.pick__title-how-it-works {
	position: absolute;
	top: 18.8rem;
	left: 29.5rem;

	color: var(--color-black-blue);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
}

@media screen and (max-width: 1000px) {
	.pick__title-how-it-works{
		left: 23rem;
		top: 16rem;
	}
}

@media screen and (max-width: 640px) {
	.pick__title-how-it-works{
		left: auto;
		right: auto;
		top: 15rem;
	}
}

@media screen and (max-width: 320px) {
	.pick__title-how-it-works{
		font-size: 24px;
		left: auto;
		right: auto;
		top: 7.4rem;
	}
}


.pick__text-1 {
	color: var(--color-black-blue);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 120%;
}

@media screen and (max-width: 1000px) {
	.pick__text-1 {
		position: relative;
		width: 850px;
		margin: 20px 0;
		top: 10px;
	}
}

@media screen and (max-width: 640px) {
	.pick__text-1 {
		position: relative;
		width: 620px;
		margin: 20px 0;
		top: 20px;
		left: 0.5rem;
		letter-spacing: -1px;
	}
}

@media screen and (max-width: 320px) {
	.pick__text-1 {
		position: relative;
		text-align: center;
		width: 283px;
		font-size: 18px;
		margin: 20px 0;
		top: -20%;
		left: 30.7%;
		letter-spacing: 0.01px;
	}
}

.pick__text-2 {
	width: 67rem;
	letter-spacing: 0.005rem;

}

@media screen and (max-width: 1000px) {
	.pick__text-2 {
		position: relative;
		width: 808px;
		margin: 20px 0;
		letter-spacing: 0.005rem;
		top: -0.6rem;
	}
}

@media screen and (max-width: 640px) {
	.pick__text-2 {
		width: 600px;
		position: relative;
		left: 0.5rem;
		top: -0.2rem;
	}
}

@media screen and (max-width: 320px) {
	.pick__text-2 {
		display: none;
	}
}

.pick__text-3 {
	color: var(--color-black-blue);
	width: 53.9375rem;
	margin-top: -0.2rem;
	letter-spacing: 0.001rem;
}

#pick__text-3 {
color: var(--color-black-blue);
}

@media screen and (max-width: 1000px) {
	.pick__text-3 {
		position: relative;
		width: 823px;
		top: -0.7rem; 
	}
}

@media screen and (max-width: 640px) {
	.pick__text-3 {
		position: relative;
		left: 0.5rem;
		top: -0.25rem;
		width: 600px;
	}
}

@media screen and (max-width: 320px) {
	.pick__text-3 {
		display: none;
	}
}

.under__line {
	position: absolute;
	top: 17rem;
	left: 11.5rem;
	width: 11.125rem;
	height: 0.3rem;
	border-top: 2px solid;
	color: var(--color-orange);
}

@media screen and (max-width: 1000px) {
	.under__line {
		top: 15.5rem;
		left: 12.5rem;
		border-top: 1px solid;
	}
}

@media screen and (max-width: 640px) {
	.under__line {
	left: 24rem;
	}
}

@media screen and (max-width: 320px) {
	.under__line {
	display: none;
	}
}

.feed-a-friend-now {
	position: relative;
	width: 18.6rem;
	top: 45.4rem;
	left: -40.26rem;
}

@media screen and (max-width: 1000px) {
	.form-feed-a-friend-now {
		left: 38.8%;
		top: -2.15rem;
	}
}

@media screen and (max-width: 640px) {
	.form-feed-a-friend-now {
		left: 21.5rem;
		top: -6.2rem;
	}
}

@media screen and (max-width: 320px) {
	.form-feed-a-friend-now {
		left: 140.5%;
		top: 13.9rem;
	}
}

.pick__insert {
	width: 100rem;

	position: relative;
	margin: -1rem auto;
	display: flex;
	justify-content: space-between;

	top: -29rem;
}

@media screen and (max-width: 1000px) {
	.pick__insert{
display: none;

}
}


.pick__insert-1000 {
	display: none;
}

@media screen and (max-width: 1000px) {
	.pick__insert-1000{
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 1000px;
		height: 330px;
		top: -290px;
}
}

@media screen and (max-width: 640px) {
	.pick__insert-1000{
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 640px;
		height: 330px;
		top: -143px;
}
}

.pick__insert-320 {
	display: none;
}

@media screen and (max-width: 320px) {
	.pick__insert-320 {
		display: block;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: -14.4rem;
		width: 320px;
	}
}

@media screen and (max-width: 1000px) {
	.flower__left-foto-1000{
		width: 200px;
		height: 202px;
		position: relative;
		top: -0.2rem;
}
}

@media screen and (max-width: 640px) {
	.flower__left-foto-1000{
		width: 144px;
		height: 202px;
		position: relative;
		left: -1.4rem;
		top: -3.5rem;
}
}

@media screen and (max-width: 320px) {
	.flower__left-foto-1000{
		display: none;
}
}


@media screen and (max-width: 1000px) {
	.flower__right-foto-1000{
		width: 241px;
		height: 180px;
		position: relative;
		top: 1.2rem;
}
}

@media screen and (max-width: 640px) {
	.flower__right-foto-1000{
		width: 175px;
		height: 131px;
		position: relative;
		top: 1.2rem;
}
}

@media screen and (max-width: 320px) {
	.flower__right-foto-1000{
		display: none;
}
}

.flower__right-foto {
	position: relative;
	top: 11.5rem;

	width: 23rem;
	height: 17.1875rem;
}

.flower__left-foto {
	position: relative;

}

@media screen and (max-width: 1000px) {
	.flower__left-foto {
		display: none;
	}	
}

@media screen and (max-width: 1000px) {
	.flower__right-foto {
		display: none;
	}	
}

.pick_and_fied_a_friend {
	position: relative;
	top: 9rem;
}

@media screen and (max-width: 640px) {
	.pick_and_fied_a_friend {
		width: 640px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.pick_and_fied_a_friend {
		width: 320px;
		height: 1082px;
		margin: 0;
	}	
}

@media screen and (max-width: 640px) {
	.testimonials {
		position: relative;
		width: 640px;
		height: 37.5rem;
		margin: 0 auto;
		top: -3.5rem;
	}
}

@media screen and (max-width: 320px) {
	.testimonials {
		top: -0.1rem;
		width: 320px;
		height: 550px;
		margin:0;
	}
}

.testimonials_wrapper {
	position: relative;
	margin: -1rem auto;
	display: flex;
	width: 100rem;
	height: 50rem;
	top: -23.9rem;
}

@media screen and (max-width: 1000px) {
	.testimonials_wrapper {
		width: 1000px;
		height: 840px;
		overflow: hidden;
		top: -24.8rem;
		left: -0.2rem;
	}
}

@media screen and (max-width: 640px) {
	.testimonials_wrapper {
		display: flex;
		justify-content: center;
		width: 640px;
		height: 900px;
		overflow: hidden;
		top: -18rem;
		left: auto;
		right: auto;
	}
}

@media screen and (max-width: 320px) {
	.testimonials_wrapper {
		display: flex;
		justify-content: center;
		width: 320px;
		height: 1000px;
		overflow: hidden;
		top: 1rem;
		left: 0;
		right: auto;
	}
}

.testimonials__avatar{
	position: relative;
	top: 1rem;
	left: 1rem;
}

.testimonials__user-name {
	position: relative;
	top: -2.5rem;
	left: 4rem;
}

@media screen and (max-width: 1000px) {
	.testimonials__user-name {
		top: -2.8rem;
		left: 4rem;
	}
}

.testimonials__from {
	position: relative;
	top: -3.5rem;
	left: 3.9rem;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	letter-spacing: 0.03rem;

	color: var(--color-input-grey);
}

.testimonials__text {
	position: absolute;
	font-family: 'Roboto';
	font-style: normal;

	margin: 0px;
	padding: 0px;
	top: 4rem;

	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	letter-spacing: 0.01rem;

	width: 14.9rem;

	left: 1rem;

	color: var(--color-gray);
}

@media screen and (max-width: 1000px) {
	.testimonials__text {
		width: 15.9rem;
		height: 18rem;
		overflow: hidden;
	}
}

@media screen and (max-width: 640px) {
	.testimonials__text {
		width: 34.5625rem;
		height: 2.375rem;
		overflow: hidden;
		letter-spacing: 0.005rem;
	}
}

.flower_foto-down {
	position: absolute;
	top: 46rem;
	left: 84.5rem;
}

.flower_foto-down-1000 {
	display: none;
}

@media screen and (max-width: 1000px) {
	.flower_foto-down {
	display: none;
	}
}

@media screen and (max-width: 1000px) {
	.flower_foto-down-1000 {
		display: block;
		position: absolute;
		top: 88.3%;
		right: 0rem;
		z-index: 5;
	}
}

@media screen and (max-width: 640px) {
	.flower_foto-down-1000 {
	display: none;
	}
}

.flower_foto-down-640 {
	display: none;
	}

@media screen and (max-width: 640px) {
	.flower_foto-down-640 {
		position: absolute;
		display: block;
		top: 70.5%;
		right: 0rem;
		z-index: 5;
	}
}

.flower_foto-down-320 {
	display: none;
}

@media screen and (max-width: 320px) {
	.flower_foto-down-640 {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.flower_foto-down-320 {
		position: absolute;
		display: block;
		top: 94%;
		right: 0rem;
		z-index: 5;
	}
}



.testimonials__block {
	position: relative;
	display: flex;
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.testimonials__block {
		position: relative;
		display: flex;
		height: 468px;
		left: -14.5%;
		top: -0.9rem;
	}
}

@media screen and (max-width: 640px) {
	.testimonials__block {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		height: 357px;
		left: 0%;
		top: -0.9rem;
	}
}

@media screen and (max-width: 320px) {
	.testimonials__block {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		height: 357px;
		left: 0%;
		top: -16.7rem;
	}
}

.testimonials__slips {
	position: relative;
	width: 16.75rem;
	height: 24.4375rem;
	top: 20.5rem;

	margin-left: 0.8rem;
	margin-right: 0.8rem;

	background: var(--color-light-grey);
	border-radius: 1.25rem;
	border-color: var(--color-pink-gradient);

	border-style: solid;
	border-width: 2px;

	overflow: hidden;
}


@media screen and (max-width: 1000px) {
	.testimonials__slips {
	width: 293px;	
	height: 391px;
	}
}

@media screen and (max-width: 640px) {
	.testimonials__slips {
	width: 37.5rem;	
	height: 6.8125rem;
	}
}

@media screen and (max-width: 320px) {
	.testimonials__slips {
	width: 299px;	
	height: 105.5px;
	}
}

@media screen and (max-width: 640px) {
	.testimonials__slips-2 {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.testimonials__slips-2 {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.testimonials__slips-3 {
		position: absolute;
		top: 36rem;
	}
}

@media screen and (max-width: 320px) {
	.testimonials__slips-4 {
		position: relative;
		top: 17rem;
	}
}


.testimonials__title {
	position: relative;
	display: flex;
	left: 43.5rem;
	top: 13rem;
	color: var(--color-black-blue);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 130%;
}

@media screen and (max-width: 1000px) {
	.testimonials__title {
		left: 40%;
	}
}

@media screen and (max-width: 640px) {
	.testimonials__title {
		position: absolute;
		left: 34%;
	}
}

@media screen and (max-width: 320px) {
	.testimonials__title {
		position: absolute;
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
		left: 29%;
		top: -0.5rem;
	}
}

.progress__bar {
position: absolute;
top: 46.3rem;
left: 31rem;
}

@media screen and (max-width: 1000px) {
	.progress__bar {
		left: 30%;
		top: 45.3rem;
	}	
}

@media screen and (max-width: 640px) {
	.progress__bar {
		display: none;
	}	
}

input[type=range] {
  -webkit-appearance: none; 
  height: 0.3rem;
  width: 37.4375rem;
  background: var(--color-white); 
	border-color: var(--color-pink-gradient);
	border-style: solid;
	border-width: 2px;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
	input[type=range] {
		width: 390px;
	}	
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 7.1994rem;
  border-radius: 5px;
  background: var(--color-orange);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
	input[type=range]::-webkit-slider-thumb {
		width: 19%;
	}	
}

input[type=range]::-moz-range-thumb {
	height: 100%;
	width: 7.1994rem;
	border-radius: 5px;
	background: var(--color-orange);
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	input[type=range]::-moz-range-thumb{
		width: 19%;
	}	
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--color-light-grey);
  border-radius: 6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--color-light-grey);
}

input[type=range]:focus::-slider-runnable-track {
  background: var(--color-light-grey);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--color-light-grey);
  border-radius: 6px;
}


input[type=range]:focus::-moz-fill-upper {
  background: #cccccc;
}
input[type=range]:focus::-fill-upper {
  background: #cccccc;
}

.testimonials__button {
	position: absolute;
	top: 48.74rem;
	left: 13.75rem;
	border-radius: 5px;
}

@media screen and (max-width: 1000px) {
	.testimonials__button {
		left: 3.3%;
		top: 49rem;
	}	
}

@media screen and (max-width: 640px) {
	.testimonials__button {
		left: auto;
		top: 44.3rem;
		width: 240px;
	}	
}

@media screen and (max-width: 320px) {
	.testimonials__button {
		width: 240px;
		left: auto;
		top: 28rem;
	}	
}

@media screen and (max-width: 320px) {
	.footer-button-text {
		position: relative;
		top: -1px;
		left: -0.5px;
	}
}

footer {
	position: relative;
	top: -9.6rem;
	margin-bottom: -10rem;
}

@media screen and (max-width: 1000px) {
	footer {
		width: 1000px;
		bottom: -1rem;
		top: -15.4%;
	}
}

@media screen and (max-width: 640px) {
	footer {
		margin: 0 auto;
		width: 640px;
		height: 282px;
		bottom: -1rem;
	}
}

@media screen and (max-width: 320px) {
	footer {
	width: 320px;
	height: 32px;
	top: 86rem;
	margin-bottom: -5rem;
	}
}

.footer__block {
	position: relative;
	margin: -1rem auto;
	display: flex;
	height: 27.6875rem;
	width: 100rem;
	background-color: var(--color-black);
}

@media screen and (max-width: 1000px) {
	.footer__block {
		width: 1000px;
		margin: -0.2rem auto;
	}
}

@media screen and (max-width: 640px) {
	.footer__block {
		top:-0.8rem;
		width: 640px;
		height: 282px;
	}
}

@media screen and (max-width: 320px) {
	.footer__block {
		top: 0.1rem;
		width: 320px;
		height: 334px;
		margin: 0;
	}
}

.page-footer__logo {
	position: absolute;
	top: 0.8rem;
}

.page-footer__logo-320 {
display: none;
}

@media screen and (max-width: 1000px) {
	.page-footer__logo {
		left: -19%;
	}
}

@media screen and (max-width: 640px) {
	.page-footer__logo {
		left: -31%;
		top: -1rem;
	}
}

@media screen and (max-width: 320px) {
	.page-footer__logo {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.page-footer__logo-320 {
		display: inline-block;
		position: relative;
		width: 128px;
		height: 23px;
		left: -7.7rem;
		top: -0.4rem;

	}
}

@media screen and (max-width: 320px) {
	.logo__image-footer-320 {
	position: relative;
	left: 18.2rem;
	top: 1.5rem;

	}
}

.logo__image-footer {
	position: absolute;
	top: 3.2rem;
	left: 14.45rem;
}

.footer__navigation {
	position: absolute;
	top: 22rem;
	left: 12.5rem;
}

@media screen and (max-width: 1000px) {
	.footer__navigation {
		left: 16.5%;
		top: 85%;
		width: 335px;
	}
}

@media screen and (max-width: 640px) {
	.footer__navigation {
		left: -8.3rem;
		top: 90%;
		width: 335px;
	}
}

@media screen and (max-width: 320px) {
	.footer__navigation {
		left: -7.8rem;
		top: 92%;
		width: 335px;
	}
}

.main-navigation {
	position: relative;
	display: flex;
}

@media screen and (max-width: 1000px) {
	#footer-main-navigation {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		width: 400px;
	}
}

@media screen and (max-width: 640px) {
	#footer-main-navigation {
		left: 8rem;
	}
}

@media screen and (max-width: 320px) {
	#footer-main-navigation {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		width: 320px;
	}
}



.footer__navigation-link {
	margin: -3.5rem;
}

@media screen and (max-width: 1000px) {
	.footer__navigation-link {
		margin: 1rem;
	}
}

@media screen and (max-width: 640px) {
	.footer__navigation-link {
		position: relative;
		margin-left: -42px;
	}
}

@media screen and (max-width: 320px) {
	.footer__navigation-link {
		margin: 0.5rem;
	}
}

.title__planner {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 1.1rem;
	left: 63.4rem;
}

@media screen and (max-width: 1000px) {
	.title__planner {
		left: 57%;
	}
}

@media screen and (max-width: 640px) {
	.title__planner {
		display: none;
	}
}

.task__planner {
	position: relative;
	margin-top: -0.8rem;
	left: -0.1rem;
	z-index: 4;
}


#task-planner__button {
	position: absolute;
	left: 14.56rem;
		z-index: 4;

	width: 8.0625rem;
	height: 2.625rem;
	margin-left: 0.3rem;
	border-radius: 3px;
	border-style: solid;
	color: var(--color-green);
	background: var(--color-white);
}

#task-planner__button:default {
	color: var(--color-black);
	background: var(--color-black);
}

#task-planner__button:invalid {
	color: var(--color-red);
	background: var(--color-red);
}


.task-planner__input {
	width: 13.9rem;
	height: 2.300rem;
	background: rgba( 0,0,0,.1);
	border-color: var(--color-orange);

	font-family: 'Roboto';
	font-style: normal;
	color: var(--color-input-grey);
}

.title__planner-text {
	color: var(--color-white);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 120%;

}

.social-links {
	position: absolute;
	display: flex;
	top: 15.5rem;
	left: 11.4rem;
	line-height: 1.8;
}

@media screen and (max-width: 1000px) {
	.social-links {
		left: -0.8%;
		top: 15.4rem;
	}	
}

@media screen and (max-width: 640px) {
	.social-links {
		display: flex;
		justify-content: flex-end;
		left: auto;
		right: -10rem;
		top: -1rem;
	}	
}

@media screen and (max-width: 320px) {
	.social-links {
		width: 170px;
		display: flex;
		justify-content: center;
		left: 9rem;
		right: 0rem;
		top: 1rem;
	}	
}

@media screen and (max-width: 320px) {
	#link-facebook {
		left: 4px;
	}	
}

@media screen and (max-width: 320px) {
	#twitter-link {
		left: 4px;
	}	
}

@media screen and (max-width: 320px) {
	#instagram-link {
		position: relative;

	}	
}

@media screen and (max-width: 320px) {
	#youTube-link {
		position: relative;
		left: -6px;
	}	
}

.social-links__list {
	position: relative;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 640px) {
	.social-links__list a {
		color: var(--color-black);
	}	
}

@media screen and (max-width: 640px) {
	.social-links__list li {
		margin: 7px;
	}	
}

@media screen and (max-width: 320px) {
	.social-links__list {
		display: flex;
		flex-direction: row;
		top: 3rem;
		
	}	
}

@media screen and (max-width: 320px) {
	.social-links__list li {
		margin: 0 -70px;
	}	
}


#link-facebook {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/facebook-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#link-facebook:hover {
	background: url('assets/icon/facebook-link-active.svg') no-repeat;
}

#link-facebook:active {
	background: url('assets/icon/facebook-link-active.svg') no-repeat;
}

.facebook-logo {
	position: relative;
	left: -6rem;
}

.facebook-logo:hover {
	color: var(--color-green);
}

.facebook-logo:active {
	color: var(--color-green);
}

#twitter-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/twitter-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#twitter-link:hover {
	background: url('assets/icon/twitter-link-active.svg') no-repeat;
}

#twitter-link:active {
	background: url('assets/icon/twitter-link-active.svg') no-repeat;
}

.twitter-logo {
	position: relative;
	left: -7.3rem;
}

.twitter-logo:hover {
	color: var(--color-green);
}

.twitter-logo:active {
	color: var(--color-green);
}

#instagram-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/instagram-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	left: -0.3rem;
	color: var(--color-white);
}

#instagram-link:hover {
	background: url('assets/icon/instagram-link-active.svg') no-repeat;
	left: 0.01rem;
}

#instagram-link:active {
	background: url('assets/icon/instagram-link-active.svg') no-repeat;
}

.instagram-logo {
	position: relative;
	left: -5.5rem;
}

.instagram-logo:hover {
	color: var(--color-green);
}

.instagram-logo:active {
	color: var(--color-green);
}

#youTube-link {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

	background: url('assets/icon/youTube-link.svg') no-repeat;
	z-index: 4;
	height: 35px;
	width: 200px;
	color: var(--color-white);
}

#youTube-link:hover {
	background: url('assets/icon/youTube-link-active.svg') no-repeat;
}

#youTube-link:active {
	background: url('assets/icon/youTube-link-active.svg') no-repeat;
}


.youTube-logo {
	position: relative;
	left: -6.5rem;
}

.youTube-logo:hover {
	color: var(--color-green);
}

.youTube-logo:active {
	color: var(--color-green);
}

.footer__button {
	position: absolute;
	width: 18.625rem;
	height: 3.4375rem;
	border-radius: 5px;

	top: 10rem;
	left: 13.8rem;	
}

@media screen and (max-width: 1000px) {
	.form-footer__button {
		left: -19%;
		top: 0.1rem;
	}
}

@media screen and (max-width: 640px) {
	.form-footer__button {
		left: -12.7rem;
		top: -4rem;
	}
}

@media screen and (max-width: 320px) {
	.form-footer__button {
		left: -21.25rem;
		top: -1.9rem;
	}
}

.footer__copyright {
	position: absolute;
	top: 21.7rem;
	left: 72rem;

	color: rgba(255, 255, 255, 0.9);

	font-weight: lighter;
	font-family: 'Roboto';
	font-size: 1rem;
	line-height: 2;

}

@media screen and (max-width: 1000px) {
	.footer__copyright {
		top: 72.5%;
		left: 74%;
	}	
}

@media screen and (max-width: 640px) {
	.footer__copyright {
		top: 70%;
		left: 61%;
	}	
}

@media screen and (max-width: 320px) {
	.footer__copyright {
		top: 58%;
		left: 30%;
		font-size: 15px;
		width: 220px;
		height: 50px;
	}	
}

.footer__copyright:hover {
	background-color: var(--color-white);
}

.footer__copyright:active {
	background-color: var(--color-white);
}

.disigned__by {
color: var(--color-white);
}

#copyright-link:hover {
color: var(--color-green);
}

#copyright-link:active {
color: var(--color-green);
}

.disigned__by:hover {
color: var(--color-green);
}

.disigned__by:active {
color: var(--color-green);
}

.burger {
	display: none;
	width: 18px;
	height: 10px;
	background: url("assets/img/burger_menu.png");
 }

 @media screen and (max-width: 640px) {
	.burger {
		background: url("assets/img/burger_menu.png");
		position: relative;
		display: block;
		z-index: 4;
		top: 0.8rem;
		left: 95%;
		border-radius: 0;
	 }
 }

 .burger:hover {
	cursor: pointer;
	background: url("assets/img/burger_menu.png");
	background-color: transparent;
 }

 .burger:active {
	cursor: pointer;
	background: url("assets/img/burger_menu.png");
	background-color: transparent;
 }
 

 .close {
	display: none;
	width: 30px;
	height: 30px;
	background: url("assets/svg/burger-close.svg") no-repeat;
 }
 
 .close:hover {
	cursor: pointer;
	background: url("assets/svg/burger-close.svg") no-repeat;
	background-color: transparent;
 }
 
 .close:active {
	transform: rotate(45deg);
 }
 
 @media (max-width: 640px) {
	.close {
		z-index: 12;
		position: relative;
	  	display: block;
	  	top: 0.5rem;
		left: 93%;
	}
 }


 @media (max-width: 640px) {
	.page-header__navigation {
	  position: fixed;
	  color: var(--color-black-blue);
	  width: 100%;
	  height: 329px;
	  z-index: 11;
	 
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  column-gap: 6px;
	  background:var(--color-white);
	  	top: 0;
		left: 0;
	  padding: 18px 15px 30px 8px;
	  box-sizing: border-box;
	  overflow: hidden;
	  transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
	  }
	}


	 .shadow.show {
		transform: translateX(0);
	 }



	 .petstory-burger {
		display: none;
	}
	

	 @media screen and (max-width: 640px) {
		.petstory-burger{
			position: relative;
			display: block;
			width: 65.6px;
			height: 41.6px;
			top: -1rem;

		}
	}

	
	@media (max-width: 640px) {
	.main-navigation li {
	  padding: 0;
	  }
	}

	@media (max-width: 640px) {
		.main-navigation a {
			color: var(--color-black);
		  }
		}

		/* @media (max-width: 320px) {
			.main-navigation a {
				color: var(--color-black);
				width: 150px;
			  }
			} */
	
	@media (max-width: 640px) {
	.btn__login {
	  padding: 0;
	  box-shadow: none;
	  background: none;
	  }
	.btn__login:hover {
	  box-shadow: none;
	  transform: none;
	  }
	}
	
	.navigation__menu-link {
	  display: none;
	}
	

@media (max-width: 640px) {
	.main-navigation {
		z-index: 12;
		position: relative;
		display: flex;
		margin-top: 36px;
	  padding: 0;
	  row-gap: 8px;
	  font-size: 16px;
	  line-height: 21px;
	  flex-direction: column;
	  align-items: flex-start;
	  left: -5.5%;
	  top: -13.8%;
 } 
	  }

	  @media (max-width: 320px) {
		.main-navigation {
		  left: -10.5%;
		  top: -13.8%;
	 } 
		  }

	  @media (max-width: 640px) {
		.main-navigation__hidden {
			color: var(--color-black);
			position: relative;
			z-index: 12;
			top: -3.8%;
			left: -56%;
	 } 
		  }

		  @media (max-width: 320px) {
			.main-navigation__hidden {
				color: var(--color-black);
				position: relative;
				width: 120px;
				z-index: 12;
				top: -3.8%;
				left: -34%;
		 } 
			  }

			  @media (max-width: 320px) {
				#main-navigation__hidden {
					width: 120px;
			 } 
				  }


		  @media (max-width: 640px) {
			.shadow {
				z-index: 8;
				background-color: rgba(0,0,0,.6);
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 1000px;
				transform: translateX(640px);
		 } 
			  }

			  @media (max-width: 320px) {
				.shadow {
					z-index: 8;
					background-color: rgba(0,0,0,.6);
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 2000px;
					transform: translateX(320px);
			 } 
				  }

				  


	

	  